In [1]:
from pyspark import SparkContext
from pyspark.sql import *

In [3]:
sc = SparkContext()
sqlContext = SQLContext(sc)

In [4]:
aisles = sqlContext.read.format('csv').option('header','true').load('aisles.csv')

In [5]:
aisles.show()

+--------+--------------------+
|aisle_id|               aisle|
+--------+--------------------+
|       1|prepared soups sa...|
|       2|   specialty cheeses|
|       3| energy granola bars|
|       4|       instant foods|
|       5|marinades meat pr...|
|       6|               other|
|       7|       packaged meat|
|       8|     bakery desserts|
|       9|         pasta sauce|
|      10|    kitchen supplies|
|      11|    cold flu allergy|
|      12|         fresh pasta|
|      13|      prepared meals|
|      14|tofu meat alterna...|
|      15|    packaged seafood|
|      16|         fresh herbs|
|      17|  baking ingredients|
|      18|bulk dried fruits...|
|      19|       oils vinegars|
|      20|        oral hygiene|
+--------+--------------------+
only showing top 20 rows

In [6]:
department = sqlContext.read.format('csv').option('header','true').load('departments.csv')
department.show()

+-------------+---------------+
|department_id|     department|
+-------------+---------------+
|            1|         frozen|
|            2|          other|
|            3|         bakery|
|            4|        produce|
|            5|        alcohol|
|            6|  international|
|            7|      beverages|
|            8|           pets|
|            9|dry goods pasta|
|           10|           bulk|
|           11|  personal care|
|           12|   meat seafood|
|           13|         pantry|
|           14|      breakfast|
|           15|   canned goods|
|           16|     dairy eggs|
|           17|      household|
|           18|         babies|
|           19|         snacks|
|           20|           deli|
+-------------+---------------+
only showing top 20 rows

In [10]:
order_product_prior = sqlContext.read.format('csv').option('header','true').load('order_products__prior.csv')
order_product_prior.show()

+--------+----------+-----------------+---------+
|order_id|product_id|add_to_cart_order|reordered|
+--------+----------+-----------------+---------+
|       2|     33120|                1|        1|
|       2|     28985|                2|        1|
|       2|      9327|                3|        0|
|       2|     45918|                4|        1|
|       2|     30035|                5|        0|
|       2|     17794|                6|        1|
|       2|     40141|                7|        1|
|       2|      1819|                8|        1|
|       2|     43668|                9|        0|
|       3|     33754|                1|        1|
|       3|     24838|                2|        1|
|       3|     17704|                3|        1|
|       3|     21903|                4|        1|
|       3|     17668|                5|        1|
|       3|     46667|                6|        1|
|       3|     17461|                7|        1|
|       3|     32665|                8|        1|
|       4|     46842|                1|        0|
|       4|     26434|                2|        1|
|       4|     39758|                3|        1|
+--------+----------+-----------------+---------+
only showing top 20 rows

In [12]:
order_products_train = sqlContext.read.format('csv').option('header','true').load('order_products__train.csv')
order_products_train.show()

+--------+----------+-----------------+---------+
|order_id|product_id|add_to_cart_order|reordered|
+--------+----------+-----------------+---------+
|       1|     49302|                1|        1|
|       1|     11109|                2|        1|
|       1|     10246|                3|        0|
|       1|     49683|                4|        0|
|       1|     43633|                5|        1|
|       1|     13176|                6|        0|
|       1|     47209|                7|        0|
|       1|     22035|                8|        1|
|      36|     39612|                1|        0|
|      36|     19660|                2|        1|
|      36|     49235|                3|        0|
|      36|     43086|                4|        1|
|      36|     46620|                5|        1|
|      36|     34497|                6|        1|
|      36|     48679|                7|        1|
|      36|     46979|                8|        1|
|      38|     11913|                1|        0|
|      38|     18159|                2|        0|
|      38|      4461|                3|        0|
|      38|     21616|                4|        1|
+--------+----------+-----------------+---------+
only showing top 20 rows

In [13]:
orders = sqlContext.read.format('csv').option('header','true').load('orders.csv')
orders.show()

+--------+-------+--------+------------+---------+-----------------+----------------------+
|order_id|user_id|eval_set|order_number|order_dow|order_hour_of_day|days_since_prior_order|
+--------+-------+--------+------------+---------+-----------------+----------------------+
| 2539329|      1|   prior|           1|        2|               08|                  null|
| 2398795|      1|   prior|           2|        3|               07|                  15.0|
|  473747|      1|   prior|           3|        3|               12|                  21.0|
| 2254736|      1|   prior|           4|        4|               07|                  29.0|
|  431534|      1|   prior|           5|        4|               15|                  28.0|
| 3367565|      1|   prior|           6|        2|               07|                  19.0|
|  550135|      1|   prior|           7|        1|               09|                  20.0|
| 3108588|      1|   prior|           8|        1|               14|                  14.0|
| 2295261|      1|   prior|           9|        1|               16|                   0.0|
| 2550362|      1|   prior|          10|        4|               08|                  30.0|
| 1187899|      1|   train|          11|        4|               08|                  14.0|
| 2168274|      2|   prior|           1|        2|               11|                  null|
| 1501582|      2|   prior|           2|        5|               10|                  10.0|
| 1901567|      2|   prior|           3|        1|               10|                   3.0|
|  738281|      2|   prior|           4|        2|               10|                   8.0|
| 1673511|      2|   prior|           5|        3|               11|                   8.0|
| 1199898|      2|   prior|           6|        2|               09|                  13.0|
| 3194192|      2|   prior|           7|        2|               12|                  14.0|
|  788338|      2|   prior|           8|        1|               15|                  27.0|
| 1718559|      2|   prior|           9|        2|               09|                   8.0|
+--------+-------+--------+------------+---------+-----------------+----------------------+
only showing top 20 rows

In [14]:
products = sqlContext.read.format('csv').option('header','true').load('products.csv')
products.show()

+----------+--------------------+--------+-------------+
|product_id|        product_name|aisle_id|department_id|
+----------+--------------------+--------+-------------+
|         1|Chocolate Sandwic...|      61|           19|
|         2|    All-Seasons Salt|     104|           13|
|         3|Robust Golden Uns...|      94|            7|
|         4|Smart Ones Classi...|      38|            1|
|         5|Green Chile Anyti...|       5|           13|
|         6|        Dry Nose Oil|      11|           11|
|         7|Pure Coconut Wate...|      98|            7|
|         8|Cut Russet Potato...|     116|            1|
|         9|Light Strawberry ...|     120|           16|
|        10|Sparkling Orange ...|     115|            7|
|        11|   Peach Mango Juice|      31|            7|
|        12|Chocolate Fudge L...|     119|            1|
|        13|   Saline Nasal Mist|      11|           11|
|        14|Fresh Scent Dishw...|      74|           17|
|        15|Overnight Diapers...|      56|           18|
|        16|Mint Chocolate Fl...|     103|           19|
|        17|   Rendered Duck Fat|      35|           12|
|        18|Pizza for One Sup...|      79|            1|
|        19|Gluten Free Quino...|      63|            9|
|        20|Pomegranate Cranb...|      98|            7|
+----------+--------------------+--------+-------------+
only showing top 20 rows

In [18]:
sample_submission = sqlContext.read.format('csv').option('header','true').load('sample_submission.csv')
sample_submission.show()

+--------+-----------+
|order_id|   products|
+--------+-----------+
|      17|39276 29259|
|      34|39276 29259|
|     137|39276 29259|
|     182|39276 29259|
|     257|39276 29259|
|     313|39276 29259|
|     353|39276 29259|
|     386|39276 29259|
|     414|39276 29259|
|     418|39276 29259|
|     437|39276 29259|
|     452|39276 29259|
|     474|39276 29259|
|     492|39276 29259|
|     497|39276 29259|
|     513|39276 29259|
|     517|39276 29259|
|     604|39276 29259|
|     680|39276 29259|
|     758|39276 29259|
+--------+-----------+
only showing top 20 rows

In [40]:
#merge ailse and products
merge_df = aisles.join(products,aisles.aisle_id==products.aisle_id)
merge_df = merge_df.join(order_product_prior,merge_df.product_id == order_product_prior.product_id).drop(order_product_prior.product_id)
merge_df = merge_df.join(order_products_train,merge_df.product_id == order_products_train.product_id).drop(order_products_train.order_id)
merge_df =merge_df.join(sample_submission,merge_df.order_id==sample_submission.order_id)
merge_df = merge_df.join(department, department.department_id ==merge_df.department_id)

In [ ]:
merge_df.show()

In [ ]:
filtered=merge_df.filter("is not null and".join(merge_df.columns)+"is not null")

filtered.count()

In [ ]:
filtered=products.filter(" is not null and ".join(products.columns)+" is not null ").take(10)
#product_id is not null and product_name is not null and aisle_id is not null and department_id is not null

In [ ]:
filtered

In [ ]:
from pyspark.sql.functions import col

In [ ]:
#most ordered products
merge_df.groupby('product_name').count().sort(col("count").desc()).show(10)